/* variables defined */
:root {
    --primary-color: #FFFFFF;
    --secondary-color: #0B0D17;
    --tertiary-color: #D0D6F9;
    --primary-font: 'Barlow', sans-serif;
    --primary-condensed: 'Barlow Condensed', sans-serif;
    --secondary-font: 'Bellefair', serif;
}

html, body {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: var(--primary-font);
}

.root {
    height: 100%;
}

.app {
    height: 100%;
}

/* header styling */
header {
    width: 95vw;
    padding: 0 0 0 5vw;
    position: relative;
}

.header-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.logo {
    width: 48px;
    height: 48px;
}

.header-line {
    width: 25vw;
    height: 1px;
    background-color: var(--primary-color);
    opacity: 0.5;
    margin-left: 50px;
    position: absolute;
    top: 70px;
    left: 12vw;
    z-index: 2;
}

.navbar {
    background-color: rgba(255, 255, 255, 0.04);
    backdrop-filter: blur(81.5485px);
    width: 60vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.nav-link {
    margin: 0;
    padding: 1.5rem 0;
    transition: border 0.3s ease;
    font-family: var(--primary-condensed);
    font-size: 16px;
    letter-spacing: 2.7px;
}

.nav-link:hover {
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);
    padding: 1.2rem 0;
}

.nav-link a {
    color: var(--primary-color);
    text-decoration: none;
}

.nav-link span {
    font-weight: bold;
    cursor: pointer;
}

.nav-link p {
    font-weight: 300;
    cursor: pointer;
}

.current-page {
    border-bottom: 3px solid var(--primary-color);
}

.current-page:hover {
    padding: 1.5rem 0;
}

.menu-btn {
    display: none;
}
/* end header styling */

/* home styling */
.homepage {
    background: url(./assets/home/background-home-desktop.jpg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

.home-main {
    margin-top: 30vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-end;
}

.home-info {
    width: 25vw;
}

.home-txt-lg {
    font-family: var(--primary-condensed);
    font-size: 28px;
    letter-spacing: 4.72px;
    margin: 0;
}

.home-title {
    font-family: var(--primary-font);
    font-size: 150px;
    letter-spacing: 0px;
    margin: 0;
}

.home-txt-sm {
    font-family: var(--primary-font);
    font-size: 18px;
    line-height: 32px;
    margin: 0;
}

.link {
    text-decoration: none;
}

.explore-btn {
    background-color: var(--primary-color);
    border-radius: 50%;
    width: 274px;
    height: 274px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.explore-btn p {
    font-family: var(--secondary-font);
    font-size: 32px;
    letter-spacing: 2px;
    font-weight: 400;
    text-align: center;
    color: var(--secondary-color);
    position: relative;
    z-index: 2;
}

.explore-effect {
    width: 274px;
    height: 274px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    position: absolute;
    z-index: 0;
    transition: all 0.5s ease;
}

.explore-btn:hover .explore-effect {
    width: 450px;
    height: 450px;
}
/* end home styling */



/* media queries */
@media screen and (max-width: 768px) {
    /* header and homepage */
    .homepage {
        background: url(./assets/home/background-home-tablet.jpg);
    }

    .header-line {
        display: none;
    }

    .navbar {
        margin-top: 0;
        margin-bottom: 0;
    }

    .nav-link {
        font-size: 14px;
    }

    .nav-link span {
        display: none;
    }

    .home-main {
        flex-direction: column;
        align-items: center;
        margin-top: 10vh;
    }

    .home-info {
        width: 75vw;
        text-align: center;
        margin-bottom: 20vh;
    }

    .home-txt-lg {
        font-size: 20px;
        letter-spacing: 3.38px;
    }

    .home-title {
        font-size: 150px;
    }

    .home-txt-sm {
        font-size: 16px;
        line-height: 28px;
    }
    
    .explore-btn {
        width: 242px;
        height: 242px;
    }

    .explore-effect {
        width: 242px;
        height: 242px;
    }

    .explore-btn:hover .explore-effect {
        width: 400px;
        height: 400px;
    }
    /* end header and homepage */
}

@media screen and (max-width: 580px) {
    /* header and homepage */
    .homepage {
        background: url(./assets/home/background-home-mobile.jpg);
        background-size: cover;
    }

    .home-info {
        margin-bottom: 10vh;
    }

    .home-txt-lg {
        font-size: 16px;
        letter-spacing: 2.7px;
    }

    .home-title {
        font-size: 80px;
    }

    .home-txt-sm {
        font-size: 15px;
        line-height: 25px;
    }

    .explore-btn {
        width: 200px;
        height: 200px;
    }

    .explore-effect {
        width: 200px;
        height: 200px;
    }

    .explore-btn:hover .explore-effect {
        width: 300px;
        height: 300px;
    }

    .menu-btn {
        position: relative;
        z-index: 4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 30px;
        height: 30px;
        margin: 20px;
        transition: all 0.3s ease;
    }

    .menu-line {
        width: 30px;
        height: 3px;
        background-color: var(--primary-color);
        transition: all 0.3s ease;
    }

    .close {
        transform: rotate(180deg);
    }

    .close .menu-line:nth-child(1) {
        transform: rotate(45deg) translateY(14.5px) translateX(5px);
    }
      
    .close .menu-line:nth-child(2) {
        opacity: 0;
    }
      
    .close .menu-line:nth-child(3) {
        transform: rotate(-45deg) translateY(-14.5px) translateX(5px);
    }

    .navbar {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3;
        visibility: hidden;
        height: 100vh;
        flex-direction: column;
    }

    .navbar.show {
        visibility: visible;
    }

    .current-page {
        border-bottom: none;
        border-right: 3px solid var(--primary-color);
    }

    .nav-link:hover {
        border-bottom: none;
        border-right: 3px solid rgba(255, 255, 255, 0.5);
    }
    /* end header and homepage */
}

@media screen and (max-width: 375px) {
    .home-info {
        margin-bottom: 2vh;
    }

    .home-title {
        font-size: 50px;
    }

    .home-txt-sm {
        font-size: 12px;
    }
}